.footer {
  position: relative;
  padding-top: 30px;
  border-top: 1px solid #D3D5D7;
}
.footer::after {
  content: '';
  position: absolute;
  bottom: 37px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #D3D5D7;
}
@media (max-width: 767px) {
  .footer::after {
    bottom: 80px;
  }
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__logo {
  display: block;
  width: 280px;
  height: 56px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 999px) {
  .footer__logo {
    width: 200px;
    height: 56px;
  }
}
@media (max-width: 767px) {
  .footer__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__menu {
  display: grid;
  margin-left: 70px;
  margin-right: 20px;
  grid-template-columns: repeat(2, auto);
  justify-items: start;
  gap: 10px 40px;
}
@media (max-width: 999px) {
  .footer__menu {
    margin-left: 40px;
    gap: 10px 20px;
  }
}
@media (max-width: 767px) {
  .footer__menu {
    margin: 20px 0 0 0;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
.footer__menu-item {
  font: 500 16px/1.2 'Gilroy', 'Arial', sans-serif;
}
@media (max-width: 767px) {
  .footer__menu-item {
    font-size: 14px;
  }
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  gap: 20px;
}
@media (max-width: 767px) {
  .footer__social {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: unset;
    margin-top: 20px;
  }
}
.footer__social-item {
  display: block;
  width: 40px;
  height: 40px;
}
.footer__social-item svg {
  width: 100%;
}
.footer__bottom {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767px) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 10px;
  }
}
.footer__txt {
  font: 500 14px/1.2 'Gilroy', 'Arial', sans-serif;
  opacity: 0.5;
}
.footer__txt:hover {
  color: #252D35;
}
