.ui-h2 {
  margin-bottom: 30px;
  font: 600 70px/1.1 'Gilroy', 'Arial', sans-serif;
}
@media (max-width: 1200px) {
  .ui-h2 {
    font-size: 60px;
  }
}
@media (max-width: 767px) {
  .ui-h2 {
    margin-bottom: 15px;
    font-size: 40px;
  }
}
.ui-h2--accent {
  font-weight: 700;
  color: #B8884B;
}
.ui-list {
  font: 500 16px/1.2 'Gilroy', 'Arial', sans-serif;
}
@media (max-width: 767px) {
  .ui-list {
    font-size: 14px;
  }
}
.ui-list li {
  position: relative;
  padding-left: 10px;
}
.ui-list li:not(:last-child) {
  margin-bottom: 10px;
}
.ui-list li::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 3px;
  height: 3px;
  background-color: #B8884B;
}
@media (max-width: 767px) {
  .ui-list li::before {
    top: 6px;
  }
}
.ui-btn {
  padding: 15px 30px;
  border: 2px solid #B8884B;
  color: #B8884B;
  background: transparent;
  outline: none;
  font: 600 16px/1.25 'Gilroy', 'Arial', sans-serif;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media (max-width: 767px) {
  .ui-btn {
    padding: 15px 25px;
    font-size: 14px;
  }
}
.ui-btn:hover {
  color: #fff;
  background: #B8884B;
}
